<!DOCTYPE html>
{# toute la base du projet #}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        <header>Je suis un header</header>
        <div class="main.container">
            {% block body %}
                <h1>hello world</h1>
            {% endblock %}
        </div>
        <footer>je suis le footer</footer>
    </body>
    
</html>
